body {
  background: url("https://cdn10.bigcommerce.com/s-9qugz4w/products/11359/images/12196/CHR257034__52547.1417135790.1280.1280.jpg?c=2")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container {
  background: url("https://elkgroveses.com/image/150318-full_lederer-criss-cross-33-x-20-5-geometric-3d-embossed-wallpaper.jpg")
    no-repeat fixed center;
  border: 3px solid green;
  height: 80vh;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.submain {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 3.7vw;
}

.part1 {
  margin-top: 10px;
  width: 30vw;
  border: 1px solid black;
  height: 40vh;
}
.part2 {
  margin-top: 10px;
  width: 40vw;
  height: 40vh;
  border: 1px solid green;
}

.part4 {
  height: 35vh;
  width: 70vw;
  border: 1px solid black;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
}
.categoryClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10vh;
}

.labelClass {
  font-weight: bold;
}
.selectBtnClass {
  height: 5vh;
  width: 10vw;
  margin-left: 5px;
}
.playBtnClass {
  height: 5vh;
  width: 8vw;
  background: rgb(68, 129, 92);
  margin-top: 3vh;
}
.nextBtnClass {
  height: 5vh;
  width: 5vw;
  background: rgb(68, 129, 92);
  margin-top: 2vh;
}

.clickBtnClass {
  height: 5vh;
  width: 10vw;
  background: rgb(68, 129, 92);
  margin-top: 2vh;
}

/*Card syles */

.card-wrapper {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.card {
  position: absolute;
  height: 200px;
  width: 300px;

  -webkit-transition: 0.8s;
  transition: transform 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-front {
  position: absolute;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn0-L1uJQwHrDfkMhTENF2ttz9zH7Vcy1g_HSsy5am5NT3DI7n&s");
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  border-style: solid;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  background: url("http://www.talencia.cat/mypics/s/11/114147_mint-green-watercolor-background.jpg");
  height: 100%;
  width: 100%;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card:hover {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#qcard,
#acard {
  width: 250px;
  margin-left: 20px;
  margin-top: 80px;
  font-weight: bolder;
  font-size: 20px;
}
/* Enter Input Styling*/

.up,
.down {
  height: 30px;
  margin: auto;
  margin-top: 20px;
}

.input {
  display: flex;
  justify-content: space-between;

  width: 50vw;
  margin-top: 3vh;
}

.label {
  margin-left: 2vw;
}
.field {
  width: 30vw;
  height: 4vh;
}
.addBtnClass {
  height: 30px;
  width: 130px;
  margin-top: 2vh;
}
